<p><%= notice %></p>
<h1>ツイート一覧</h1>
<table>
  <tr>
    <th>内容</th>
    <th>ツイート日時</th>
    <th>編集日時</th>
  </tr>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.content %></td>
      <td><%= l blog.created_at %></td>
      <td><%= l blog.updated_at, format: :short %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'ツイート作成', new_blog_path %>
