<!DOCTYPE html>
<html>
  <head>
    <title>twitter_clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <ul>
        <li class="title">twitter_clone</li>
        <%= link_to(blogs_path) do %>
          <li class="header_link">ツイート一覧</li>
        <% end %>
        <%= link_to(edit_or_destroy_blogs_path) do %>
          <li class="header_link">編集/削除</li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
    <footer class="footer">
     <h3>dive into code</h3>
    </footer>
  </body>
</html>
